body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(242, 245, 247);
}

.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 70px;
}
/*     margin-left: 100px;
    margin-right: 100px; */
.quote {
    width: 1400px;

    text-align: center;
    margin-top: 150px;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 0;
    margin:0 auto;
}

.author {
    text-align: center;
    font-size: 35px;
    font-style: italic;
    margin-bottom: 200px;
}

.subtitle {
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  margin-bottom: 50px;
}

.table {
  display: table;
  margin: 0 auto;
  margin-bottom: 100px;
}

.list-item {
  display: inline;
  padding-right: 120px;
}

.round-img {
  border-radius: 50%;
}
